@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 200;
  src: url('tajawal/eot/Tajawal-ExtraLight.eot'),
  url('tajawal/otf/Tajawal-ExtraLight.otf'),
  url('./tajawal/ttf/Tajawal-ExtraLight.ttf'),
  url('tajawal/woff/Tajawal-ExtraLight.woff'),
  url('tajawal/woff2/Tajawal-ExtraLight.woff2');
}

@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: url('tajawal/eot/Tajawal-Regular.eot'),
  url('/tajawal/otf/Tajawal-Regular.otf'),
  url('tajawal/ttf/Tajawal-Regular.ttf'),
  url('tajawal/woff/Tajawal-Regular.woff'),
  url('tajawal/woff2/Tajawal-Regular.woff2');
}

@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 500;
  src: url('tajawal/eot/Tajawal-Medium.eot'),
  url('tajawal/otf/Tajawal-Medium.otf'),
  url('tajawal/ttf/Tajawal-Medium.ttf'),
  url('tajawal/woff/Tajawal-Medium.woff'),
  url('tajawal/woff2/Tajawal-Medium.woff2');
}
