/* You can add global styles to this file, and also import other style files */

@import 'assets/fonts/_fonts.scss';
$primary_font: 'Tajawal';

@import 'assets/styles/settings/base-component';

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $primary_font, sans-serif;
}
